body{
  background-color: green;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  
}

@media (max-width:321px){

  body{
    background-color: rgb(255, 255, 255);
    padding:0%;
    overflow-x: hidden !important;
    width: 320px;
    margin-top: 50px;
  }
.navbar{
  margin-right: 14%;
}
.aboutSection{
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 5%;
  width: 80%;
  display: flex;
  background-color: rgba(175, 166, 166, 0.158);
  font-size: 50%;
  border-radius: 8%;
  
}
.aboutImage{
margin-top: 10%;
padding-bottom: 15%;
padding-right: 5%;
}
.heroContent{
  width: 600px;
  height: 105px;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 10%;
  font-size: 90%;
  opacity: 0;
  overflow: hidden;
}
.heroContent::after{
  content: "|";
  animation: blink is step-end infinite;
}
@keyframes blink {
  50%{
    opacity: 0;
  }
}
.AboutMe{
  background-color: blue;
  width: 80%;

  

}
.SkillsCard{
  /* background-color: aqua; */
  width: 79%;
  margin-left: 4%;
  margin-top:10%;
  margin-bottom: 3%;
  display: flex;
}
.SkillsCardTitle{
  font-weight: bold;
  text-decoration: underline;
  font-size: 10px;
}
.SkillsCardSubtitle{
  margin-top: 5px;
font-style: italic;
font-size: 8px;
}
.SkillsCardBlurb{
  margin-top:5px;
  font-size: 10px;
}
.imagesForSkillsCard{
  display:none;
}
.imagesForSkillsCardMobile{
  display: flex;
  width: 80%;
  margin-left: 4%;
  margin-right: 10%;
  position: relative;
}

.portfolioProjects{
  display: flex;
  margin-top: 5%;
  max-width: 320px;
  margin-right: 60px;
}
.PortfolioBlurb{
  position:sticky !important;
  margin-right: 9%;
  padding-right: 0%;
  font-size: 15px;
  padding-left: 5%;
  
}
.PortfolioBlurb p{
  margin-top: 10%;
  font-size: 4px;
}
.selectedPortfolioProjects{
  font-size: 30%;
  
}
.letsConnectSection{
  background-color: rgba(175, 166, 166, 0.158);
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 5%;
  height: 100px;
  padding-right: 50px;
  
}
.footerAboutSection{
  margin-right: 22px;
  width: 100%;
}
.footerAboutSection h1{
font-size: 18px;
width: 120%;
}
.footerAboutSection h2{
font-size: 8px;
}
.ConnectContactSection h1{
  font-size: 15px;


}
.ConnectContactSection h2{
  font-size: 8px;
}
.connectIcons{
  display: flex;
  width: 80px;
  padding-top: 5%;
  margin-left: 20px;
}
.LinkedinImg, .EmailImg, .PhoneImg{
 margin-right: 5px;
}

}